<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="toDoSaveFile" value="C:\Home\Repo\01_Repository\26_ToDoListWPF\ToDoListWPF\ToDoList\Save\ToDoList.xml"/>
  </appSettings>
</configuration>